/* Require main.css */

.activity-container {
  border: dashed;
  border-color: var(--default);
  border-width: thick;
  padding: 2rem 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: #e9ecef; /* to be changed ? */
  border-radius: 0.3rem;
}
.details-container{
  margin: 1rem;
  padding: 1rem;
 }

.content-container{
 margin: 1rem;
 padding: 1rem;
}

.submit-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.input-group > .custom-file {
  display: flex;
  flex-basis: content;
  flex-grow: 0;
  flex-shrink: 1;
}


h1.activity-title {
  color: var(--bosses-et-bobos);
}
